@{ 
    bool inviteOnly = System.Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["InvitationOnly"].ToString());
}

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Gravenger</title>

    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link href="@Url.Content("~/Content/css/stylebw.css")" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("Styles", false)
</head>
<body>
    
    <div class="main">
        <div class="midbox">
            <div class="main-login">
                @if (!inviteOnly)
                {
                    <div>
                        <img src="~/Content/img/seenry-title-1.png" width="40%" />
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
    
    @Html.Partial("Partials/JavascriptReferences")

    @RenderSection("Scripts", required: false)
</body>
</html>
