@model InvitationListVM

<h2>Invitation List</h2>
<hr />

@Html.Partial("Partials/InvitationPillNav")

@Html.Partial("Partials/Alerts")

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Invited By</th>
            <th>Last Sent</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invitation in Model.Invitations)
        {
            <tr>
                <td>@invitation.FirstName</td>
                <td>@invitation.LastName</td>
                <td>@invitation.Email</td>
                <td>@invitation.CreatedByAccount.FirstName @invitation.CreatedByAccount.LastName</td>
                <td>@invitation.LastSentDate</td>
                @if (invitation.Accepted)
                {
                    <td colspan="2">
                        <button type="button" disabled class="btn btn-success">Invitation Accepted</button>
                    </td>
                }
                else
                {
                    <td>
                        <form method="post" autocomplete="off" action="@Url.Action("SendInvitation")">
                            @Html.Hidden("invitationID", invitation.InvitationID)
                            <button type="submit" class="btn btn-primary">Send Invitation</button>
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                    <td>
                        <form class="pl-2" method="post" autocomplete="off" action="@Url.Action("MarkInvitationSent")">
                            @Html.Hidden("invitationID", invitation.InvitationID)
                            <button type="submit" class="btn btn-danger">Mark Sent</button>
                            @Html.AntiForgeryToken()
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @Html.Partial("Partials/InvitationPillNavVueScript")
}